.generalBoxCharactersStyle{
    border: 2px solid #0FFF50;
    border-radius: 12px;
    height: 500px;
    width: 305px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.charactersCardStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}