.generalBoxStyle{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.apiStyle1{
    color: #0FFF50;
    font-family: RickyMyFont, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    margin-bottom: 80px;
}
.apiStyle2{
    color: #0FFF50;
    font-family: RickyMyFont, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;

}
.apiStyle3{
    margin-top: 80px;
    color: #0FFF50;
    font-family: RickyMyFont, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}
.imgStyle{
    height: 50%;
}