.imgStyleResident{
    border: 1px solid #0FFF50;
    border-radius: 15px;
    height: 520px;
    width: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}